<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="FacseEntity" connectionString="data source=199.89.55.98,1436;initial catalog=DBFACSEV2;persist security info=True;user id=sa;password=F4cs3T.2019#2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="FacseEntity" connectionString="data source=199.89.55.98,1436;initial catalog=DBPLATAFORMA;persist security info=True;user id=sa;password=F4cs3T.2019#2;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
    <!--<add name="FacseEntity" connectionString="Server=tcp:facsev2.database.windows.net;Initial Catalog=DBPLATAFORMA;Persist Security Info=False;User ID=facse;Password=Plataforma2020%;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <add name="FacseEntity" connectionString="data source=localhost; initial catalog=DBFACSEV2;persist security info=True; user id=sa;password=Bogota.2021;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <!--<add name="FacseEntity" connectionString="data source=DESKTOP-O2M952Q\MSSQLSERVER2016;initial catalog=DBFACSEV2;persist security info=True;user id=sa;password=sa2018;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="clave_super" value="4dm1n1str4d0rF4sc3" />
    <add key="servidor" value="smtp.gmail.com" />
    <add key="puerto" value="25" />
    <add key="usuario" value="soporte.facse@plataforma.com.co" />
    <add key="password" value="S0p0rt3F4c3." />
    <add key="ssl" value="True" />

    <!--test-->
    <add key="ruta_api" value="http://localhost:15019/api/Comunicacion/" />
    <add key="ruta_clave_tecnica" value="http://localhost:15019/api/Emisor/ClaveTecnica" />
    <add key="ruta_api_correo" value="http://localhost:15019/api/Facse/EnvioCorreo" />
    <add key="ruta_api_proveedor" value="http://localhost:15019/api/Proveedor/Proveedor" />
    <add key="ruta_api_pdf" value="http://localhost:15019/api/Pdf/GenerarPdf/" />
    <add key="CambioEstadoDianProveedor" value="http://localhost:15019/api/Comunicacion/CambioEstadoDianProveedor/" />
    <add key="AcuseReciboProveedor" value="http://localhost:15019/api/Comunicacion/AcuseReciboProveedor/" />
    <add key="importExcel" value="http://import.facsep.com" />
    <add key="ruta_api_proveedor_anexo" value="http://localhost:15019/api/Proveedor/AgregarAnexo" />
    <add key="ruta_api_proveedor_elianexo" value="http://localhost:15019/api/Proveedor/EliminarAnexo/" />

    <!--test-->
    <!--
    <add key="ruta_api" value="http://api.facsep.com/api/Comunicacion/" />
    <add key="ruta_clave_tecnica" value="http://api.facsep.com/api/Emisor/ClaveTecnica" />
    <add key="ruta_api_correo" value="http://api.facsep.com/api/Facse/EnvioCorreo" />
    <add key="ruta_api_proveedor" value="http://api.facsep.com/api/Proveedor/Proveedor" />
    <add key="ruta_api_pdf" value="http://api.facsep.com/api/Pdf/GenerarPdf/" />
    <add key="CambioEstadoDianProveedor" value="http://api.facsep.com/api/Comunicacion/CambioEstadoDianProveedor/" />
    <add key="AcuseReciboProveedor" value="http://api.facsep.com/api/Comunicacion/AcuseReciboProveedor/" />
    <add key="importExcel" value="http://import.facsep.com" />
    <add key="ruta_api_proveedor_anexo" value="http://api.facsep.com/api/Proveedor/AgregarAnexo" />
    <add key="ruta_api_proveedor_elianexo" value="http://api.facsep.com/api/Proveedor/EliminarAnexo/" />-->


    <!--produccion-->
    <!--<add key="ruta_api" value="https://web.facse.net:444/api/Comunicacion/" />
    <add key="ruta_clave_tecnica" value="https://web.facse.net:444/api/Emisor/ClaveTecnica" />
    <add key="ruta_api_correo" value="https://web.facse.net:444/api/Facse/EnvioCorreo" />
     <add key="ruta_api_proveedor" value="http://web.facse.net:444/api/Proveedor/Proveedor" /> 
    <add key="ruta_api_pdf" value="https://web.facse.net:444/api/Pdf/GenerarPdf/" />
    <add key="CambioEstadoDianProveedor" value="https://web.facse.net:444/api/Comunicacion/CambioEstadoDianProveedor/" />  
    <add key="AcuseReciboProveedor" value="https://web.facse.net:444/api/Comunicacion/AcuseReciboProveedor/" />
    <add key="importExcel" value="http://excel.facsep.com" />
    <add key="ruta_api_proveedor_anexo" value="https://web.facse.net:444/api/Proveedor/AgregarAnexo" />    
    <add key="ruta_api_proveedor_elianexo" value="https://web.facse.net:444/api/Proveedor/EliminarAnexo/" />-->


    <!--test-->
    <!--<add key="ruta_api" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Comunicacion/" />
    <add key="ruta_clave_tecnica" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Emisor/ClaveTecnica" />
    <add key="ruta_api_correo" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Facse/EnvioCorreo" />
    <add key="ruta_api_proveedor" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Proveedor/Proveedor" />
    <add key="ruta_api_pdf" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Pdf/GenerarPdf/" />
    <add key="CambioEstadoDianProveedor" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Comunicacion/CambioEstadoDianProveedor/" />
    <add key="AcuseReciboProveedor" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Comunicacion/AcuseReciboProveedor/" />
    <add key="importExcel" value="http://import.facsep.com" />
    <add key="ruta_api_proveedor_anexo" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Proveedor/AgregarAnexo" />
    <add key="ruta_api_proveedor_elianexo" value="http://facse.eastus2.cloudapp.azure.com:8092/api/Proveedor/EliminarAnexo/" />-->

    <!--ticket facse -->

    <add key="ruta_api_ticket" value="http://tapi.facsep.com/" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxRequestLength="30000" />
    <globalization culture="en-US" uiCulture="es-US" />
    <sessionState mode="InProc" timeout="50" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.1" newVersion="4.0.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="white" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %message%newline" />
      </layout>
    </appender>
    <!--<appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG/log-" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ERROR_RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG/log-ERROR" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <appender name="INFO_RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG/log-INFO-" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="INFO" />
      </filter>
    </appender>
    <!--<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="LOG/log-" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger  - %message%newline" />
      </layout>
    </appender>-->
    <root>
      <level value="ALL" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="INFO_RollingLogFileAppender" />
      <appender-ref ref="ERROR_RollingLogFileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <logger name="PED_LOG" additivity="true">

    </logger>
  </log4net>
  <system.webServer>

    <modules>
      <remove name="TelemetryCorrelationHttpModule" />
      <add name="TelemetryCorrelationHttpModule" type="Microsoft.AspNet.TelemetryCorrelation.TelemetryCorrelationHttpModule, Microsoft.AspNet.TelemetryCorrelation" preCondition="integratedMode,managedHandler" />
    </modules>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>