@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.LetraBoton = "Ingresar";
    ViewBag.ImagenBoton = "~/Content/Images/profile.png";
    ViewBag.RutaBoton = "Index";
}
<br />
<br />
<br />
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <img src="~/Content/Images/5aeb78f54c4e6.jpg" />
            <h2 class="mt-5">Más que transformación y comercio digital</h2>
            <h4><p class="lead">Básicamente es trasladar la logística, almacenamiento y archivo de la facturación a un sistema tecnológico que convierte el papel en documento electronico XML, que a su vez contiene toda la información necesaria, tanto comercial como legal.</p></h4>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>

