
@{
    Layout = null;
}
<div class="container">
    <br /><br />
    <br /><br />
    <br />
    <div class="row justify-content-center">
        <div class="col">
            <div class="text-center">
                <img src="~/Content/Images/ayuda.png" />
            </div>
            <br /><br />
            <div class="text-center">
                <h4>Lo sentimos, esta página no se encuentra disponible en el momento.</h4>
            </div>
        </div>
    </div>
</div>
<br /><br />
<br /><br />
<br /><br />
